/* Footer.css */
.footer {
    background-color: #282c34; /* Koyu arka plan */
    color: white; /* Yazı rengi beyaz */
    padding: 20px; /* İç boşluk */
    display: flex; /* Flexbox kullanarak düzen */
    justify-content: space-between; /* Bölümler arasında eşit boşluk */
    align-items: center; /* Dikey ortalama */
    flex-wrap: wrap; /* Taşma durumunda satır oluştur */
    height: 100%;
    
}

.footer-section {
    margin: 0 20px; /* Yan boşluk */
    transition: transform 0.3s ease; /* Geçiş animasyonu */
}

.footer-section:hover {
    transform: scale(1.05); /* Üzerine gelince büyütme */
}

.footer-link {
    color: #61dafb; /* Mavi renk */
    text-decoration: none; /* Alt çizgi yok */
    margin: 0 10px; /* Yan boşluk */
    transition: color 0.3s ease; /* Renk geçişi */
}

.footer-link:hover {
    color: #21a1f1; /* Üzerine gelince renk değişimi */
}

.footer-bottom {
    width: 100%; /* Alt bölüm tam genişlikte */
    text-align: center; /* Ortada hizalama */
    border-top: 1px solid #444; /* Üst kenar çizgisi */
    padding-top: 10px; /* Üst boşluk */
    font-size: 0.9em; /* Yazı boyutu */
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column; /* Küçük ekranlarda dikey düzen */
        align-items: flex-start; /* Sol hizalama */
    }

    .footer-section {
        margin-bottom: 15px; /* Bölümler arasındaki boşluk */
        width: 100%; /* Bölümleri tam genişlikte yap */
    }
}
